[Unit]
Description=Create backup using rclone utility
After=network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/rclone-backup
