[Unit]
Description=Create backup using rclone-backup
After=network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rclone-backup
Restart=no

# Lower priority
Nice=19
CPUQuota=90%
CPUWeight=50
IOWeight=50
MemorySwapMax=0
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# Security hardening
ReadWritePaths=/etc/rclone-backup /var/lock
PrivateTmp=true
ProtectSystem=strict
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
NoNewPrivileges=true
LimitNOFILE=1024
LimitNPROC=64
